body{
   
    font-size: 16px;
}

.box{
    width:500px;
    height: 500px;
    background-color:red;
}

.color{
    background-color: black;
    background-color: red;
    background-color: green;
    background-color: yellowgreen;
}