:root {
  --color-dark: #361999;
  --color-light: #78fff1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to top right,
    var(--color-dark),
    var(--color-light)
  );
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.35)
  );
  max-width: 300px;
  padding: 36px 24px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.form_input-container {
  position: relative;
  margin-bottom: 32px;
}

input,
button {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.25)
  );
  border: none;
  border-radius: 18px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding: 12px 24px;
}

input {
  width: 100%;
}

label {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s, opacity 0.3s;
  opacity: 0.4;
  font-style: italic;
  cursor: text;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  left: 200px;
  opacity: 0;
}

input:hover,
button:hover {
  box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.3);
}

input:focus,
button:focus {
  outline: solid 3px rgb(255, 255, 255);
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button:after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  height: 100px;
  width: 50px;
  position: absolute;
  left: -70px;
  top: -50%;
  transform: skewX(-15deg);
  transition: left 0.15s linear;
}

button:hover:after {
  left: 110%;
}

.form-icon {
  height: 72px;
  width: 72px;
  border: solid 3px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto 24px;
  position: relative;
  overflow: hidden;
}

.form-icon:before {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 24px;
  bottom: 0;
}

.form-icon::after {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  bottom: 40%;
}

.spacer {
  height: 2px;
  background: rgba(255, 255, 255, 0.55);
  margin: 0 auto 32px;
  width: 80%;
  border-radius: 100%;
}

.bg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.dot {
  background: linear-gradient(
    to left,
    var(--color-light),
    rgba(255, 255, 255, 0.3)
  );
  height: 10vh;
  width: 10vw;
  border-radius: 50%;
}

.dot:nth-child(1) {
  height: 50vh;
  position: absolute;
  width: 50vh;
  animation: move1 10s linear infinite;
}

.dot:nth-child(2) {
  height: 30vh;
  position: absolute;
  width: 30vh;
  left: 50%;
  width: 30vh;
  top: 50%;
  animation: move2 15s linear infinite;
}

@keyframes move1 {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes move2 {
  from {
    transform: translateY(50vh);
  }
  to {
    transform: translateY(-80vh);
  }
}
